* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    font-size: 6rem;
}

p {
    font-size: 3rem;
}

.app {
    width: 100%;
    height: 100vh;
    position: relative;
}

.app:before {
    content: '';
    background: url('./img/weather.webp') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.app .top {
    text-align: center;
    padding: 1rem;
}

.app .middle {
    text-align: center;
    padding: 1rem;
}

.app .bottom {
    text-align: center;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.app input {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid #111;
}

.app .button {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid #111;
    background-color: yellow;
}
